= provide :title, "Sign in"

%h1 Sign in
%hr

= form_tag sessions_path do
  %fieldset
    %ul
      %li
        = label_tag :username, nil
        = text_field_tag :username
      %li
        = label_tag :password, nil
        = password_field_tag :password
      %li
        = submit_tag "Sign in", class: "btn"