= provide :title, "Sign in"

%h1 Sign in
%hr

= form_tag sessions_path, class: "forms" do
  %fieldset.liner
    %ul
      %li
        = label_tag :username, nil, class: "bold"
        = text_field_tag :username
      %li
        = label_tag :password, nil, class: "bold"
        = password_field_tag :password
      %li
        = submit_tag "Sign in", class: "btn btn-big"