= provide :title, "Sign up"

%h1 Sign up
%hr

= form_for @user do |f|
  = render 'shared/error_messages', object: f.object
  %fieldset.liner
    %ul
      %li
        = f.label :username
        = f.text_field :username
      %li
        = f.label :email
        = f.email_field :email
      %li
        = f.label :password
        = f.password_field :password
      %li
        = f.submit 'Create account', class: "btn"
