= provide :title, "Sign up"

.inner-container

  %h1 Sign up
  %hr

  = parsley_form_for @user do |f|
    
    = render 'shared/error_messages', object: f.object
    
    = form_wrapper do

      = f.text_field :username, input_type: "username"
      
      = f.email_field :email
      
      = f.password_field :password
      
      = f.submit "Create account"
