= provide :title, "Sign up"

%h1 Sign up
%hr

= form_for @user, html: { class: "forms" } do |f|
  = render 'shared/error_messages', object: f.object
  %fieldset.liner
    %ul
      %li
        = f.label :username, class: "bold"
        = f.text_field :username
      %li
        = f.label :email, class: "bold"
        = f.email_field :email
      %li
        = f.label :password, class: "bold"
        = f.password_field :password
      %li
        = f.submit 'Create account', class: "btn btn-big"
