= provide :title, "#{@user.username}"

.row

  .third

    %h1= @user.username

    = link_to "Add a dish", new_dish_path, class: "btn btn-big"

  .twothird

    %h2 Recent dishes
    - @dishes.each do |d|
      .dish
        %strong= link_to d.name, dish_path(d)
        %cite= d.eat_date