= provide :title, @user.username

.inner-container

  - present @user do |user_presenter|

    .one-quarter.user-info

      .profile
        = user_presenter.username

      .member-since
        = user_presenter.member_since

      .dishes-count
        %p= user_presenter.user_dishes_count

      .new-dish
        %p= user_presenter.new_dish_button(new_dish_path)

    .three-quarters.user-dishes

      .dishes-list
        = user_presenter.user_dishes_list
