= provide :title, "#{@user.username}"

.one-third

  %h1= @user.username

  = link_to "Add a dish", new_dish_path, class: "btn"

.two-third

  %h2 Recent dishes
  - @dishes.each do |d|
    .dish
      %strong= link_to d.name, dish_path(d)
      %cite.timeago{title: d.eat_date}
