= provide :title, "#{@user.username}"

%h1= @user.username

= link_to "Add a dish", new_dish_path

%h2 Recent dishes
%ul
  - @dishes.each do |d|
    %li
      = link_to d.name, dish_path(d)
      = d.eat_date