= provide :title, "New dish"

%h1 New dish
%hr

= form_for @dish do |f|
  = render 'shared/error_messages', object: f.object
  %fieldset
    %ul
      %li
        = f.label :name
        = f.text_field :name
      %li
        = f.label :description
        = f.text_area :description
      %li
        = f.label :eat_date
        = f.select :eat_date, [['Today', Time.now.in_time_zone(Time.zone)],
                               ['Yesterday', 1.day.ago.in_time_zone(Time.zone)],
                               ['2 days ago', 2.days.ago.in_time_zone(Time.zone)],
                               ['3 days ago', 3.days.ago.in_time_zone(Time.zone)],
                               ['4 days ago', 4.days.ago.in_time_zone(Time.zone)],
                               ['5 days ago', 5.days.ago.in_time_zone(Time.zone)],
                               ['6 days ago', 6.days.ago.in_time_zone(Time.zone)],
                               ['1 week ago', 1.week.ago.in_time_zone(Time.zone)]],
                               prompt: "When did you eat this dish?"
      %li
        = f.label :prep_time
        = f.select :prep_time, [['15 min', 15],
                                ['20 min', 20], 
                                ['30 min', 30],
                                ['45 min', 45], 
                                ['1 hour', 60],
                                ['1 hour 30 min', 90],
                                ['2 hours', 120],
                                ['2 hours 30 min', 150],
                                ['3 hours', 180]],
                                prompt: "How long did it take to make?"
        %li
          = f.label :category_name, "Category"
          = f.text_field :category_name, data: { autocomplete_source: categories_path }
        %li
          = f.label :source_name, "Source"
          = f.text_field :source_name, data: { autocomplete_source: sources_path }
        %li
          = f.submit "Add dish", class: "btn"