%h1= @dish.name
%p= "Category: #{@dish.category_id}"
%p= "Source: #{@dish.source_id}, pg. #{@dish.source_page}"
%p= "Eat date: #{@dish.eat_date}"

%p= @dish.description
%p= "Prep time: #{@dish.prep_time} minutes"