= provide :title, @dish.name

- present @dish do |dish_presenter|

  = dish_presenter.photo

  .name
    %h1= dish_presenter.name

  .category
    %cite= @dish.category_name

  .prep-time
    %cite= dish_presenter.prep_time

  .source
    %cite= "From #{@dish.source_name}"

  .eat_date
    %cite Eaten
    %cite= dish_presenter.eat_date

  .description
    %blockquote= dish_presenter.description

  %hr

  = render 'dishes/comments'