%h1= @dish.name
.category
  %cite= @category.name
.prep-time
  %cite= "#{@dish.prep_time} minutes"
.source
  %cite= "From #{@source.name}"
.eat_date
  %cite Eaten
  %cite.timeago{title: @dish.eat_date}

%hr

%blockquote= @dish.description