%h1= @dish.name
.category
  %em= @category.name
.prep-time
  %cite= "#{@dish.prep_time} minutes"
.source
  %em= @source.name
.eat_date
  %em= "Eaten on #{@dish.eat_date}"
%hr

%blockquote= @dish.description